@{
  Layout="Shared/_Layout.cshtml";
}

<h1>@Model.GetName()</h1>
<ul>
  <li>Phone: @Model.GetPhone()</li>
  <li>Address: @Model.GetAddress()</li>
</ul>
<form action="/contacts/@Model.GetId()/deleted" method="post">
  <button type="submit" class="btn">Delete</button>
</form>
<p><a href="/">Back to Index</a></p>
