@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Contacts</h1>
  @foreach (var person in Model)
  {
    <h2><a href = "/contact/@person.GetId()/info">@person.GetName()</a></h2>
  }
<a href="/contact_add_form">Add a new Contact</a>
<form action="/contacts/clear" method="post">
  <button type="submit">Clear All Contacts</button>
</form>
