body {
  font-family: 'Rancho', cursive;
  font-size:20px;
}

#left {
  background-image: url(../img/left-background.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  padding-top: 40vh;
}

#right {
  background-image:url(../img/right-background.png);
  height:100vh;
  overflow-y: scroll;
}

.btn {
  margin-top: 2%;
}
